@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

h3 {
  font-family: inherit;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
}

.fa-heart {
  color: red;
}

small {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.loveme {
  height: 450px;
  width: 350px;
  background: url("winter.\ jpg") no-repeat center center/cover;
  max-width: 100%;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}

.loveme .fa-heart {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  animation: grow 0.5s linear;
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
